name: CI
on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - closed
    branches:
      - main
      - backport/*.*
    paths:
      - config/**
      - spack.yaml
  issue_comment:
    types:
      - created
      - edited
jobs:
  pr-ci:
    name: CI
    # This job is responsible for checks and prerelease deployments
    # that happen when a PR is modified or opened
    if: github.event_name == 'pull_request' && github.event.action != 'closed'
    uses: access-nri/build-cd/.github/workflows/ci.yml@main
    with:
      model: access-om3
    permissions:
      pull-requests: write
      contents: write
    secrets: inherit  # inherit GitHub Deployment Environment secrets

  pr-comment:
    name: Comment
    # This job is responsible for handling Command Comments like
    # `!bump` during an open PR
    if: github.event_name == 'issue_comment'
    uses: access-nri/build-cd/.github/workflows/ci-comment.yml@main
    with:
      model: access-om3
    permissions:
      pull-requests: write
      contents: write


  pr-closed:
    name: Closed
    # This job is responsible for cleaning up the Prereleases after a
    # PR is closed
    if: github.event_name == 'pull_request' && github.event.action == 'closed'
    uses: access-nri/build-cd/.github/workflows/ci-closed.yml@main
    with:
      model: access-om3
    secrets: inherit  # inherit GitHub Deployment environment secrets
